body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #104F8C; repeat;
}

header {
  background: grey url('../images/html_css.png') repeat;
  width: 960px;
  height: 80px;
}

h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-shadow: 5px 5px 7px #000000;
}

.headerTekst{
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}


ul {
  padding: 10px;
  background-color: #D8260A;
}

ul :hover{
  background-color: #DFD7D7;

}
ul li {
  background: #D8B60A;
  padding: 5px;
  border: solid 2px white;
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

article p {
    color: #00FF95;
}

.TekstKop{
  text-shadow: 5px 5px 7px #000000;
}

footer {
  background: #F0F0F0;
  position: fixed;
  top:96%;
}

footer h5 {
  text-align: center;
  font-weight: normal;
  font-size: 92%;
}

* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

.navigation {
    display: inline
}

#rood {
  background-color: red;
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: 3;
  height: 125px;
  width: 125px;
}

#geel {
  background-color: yellow;
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: 2;
  height: 170px;
  width: 170px;
}

#zwart {
  background-color: black;
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: 1;
  height: 300px;
  width: 300px;
}

#blauw {
  background-color: blue;
  position: absolute;
  top: 450px;
  left: 650px;
  z-index: 3;
  height: 150px;
  width: 150px;
}

#groen {
  background-color: green;
  position: absolute;
  top: 390px;
  left: 600px;
  z-index: 3;
  height: 160px;
  width: 160px;
}

.social1 {
  color: #fff;
  text-decoration: none;
}

.social {
  position: fixed;
  top: 20px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social ul li {
  background-color: #104F8C; repeat;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
