body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #D39F00; repeat;
}

header {
  background: grey url('../images/html_css.png') repeat;
  width: 1030px;
  height: 80px;
}

h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-shadow: 5px 5px 7px #000000;
}

.headerTekst{
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}


ul {
  padding: 10px;
  background-color: #0B0893;
}

ul :hover{
  background-color: #DFD7D7;

}
ul li {
  background: red;
  padding: 5px;
  border: solid 2px white;
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

article p {
    color: #00FF95;
}

.TekstKop{
  text-shadow: 5px 5px 7px #000000;
}

footer {
  background: #F0F0F0;
  position: absolute;
}

footer h5 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

* {
  margin: 0px;
  padding: 0px;
}

.navigation {
    display: inline
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background-color: #d966ff;
  color: white;
}

.fa-wordpress {
  background-color: #0055ff;
  color: white;
}

.fa-telegram {
  background-color: #55ACEf;
  color: white;
}
