body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #104F8C; repeat;
}

header {
  background: grey url('../images/html_css.png') repeat;
  width: 960px;
  height: 80px;
}

h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-shadow: 5px 5px 7px #000000;
}

.headerTekst{
  color: white;
}


ul {
  padding: 10px;
  background-color: #D8260A;
}

ul li {
  background: #D8B60A;
  padding: 5px;
  border: solid 2px white;
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

article p {
    color: #D8260A;
}

.TekstKop{
  text-shadow: 5px 5px 7px #000000;
}

footer {
  background: #F0F0F0;
  position: fixed;
  top: 96%;
}

footer h5 {
  text-align: center;
  font-weight: normal;
  font-size: 92%;
}

* {
  margin: 0px;
  padding: 0px;
}

.navigation {
    display: inline
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

.ikfoto{
  border-radius: 100%;
  float: left;
  height: 110px;
  width: 100px;
  }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background-color: #d966ff;
  color: white;
}

.fa-wordpress {
  background-color: #0055ff;
  color: white;
}

.fa-telegram {
  background-color: #55ACEf;
  color: white;
}

.social1 {
  color: #fff;
  text-decoration: none;
}

.social {
  position: fixed;
  top: 20px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social ul li {
  background-color: #104F8C; repeat;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
